# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.svn
.fis-tmp
.DS_Store
.cache
._*
*副本*
.tmp
.gulp
.swp
.tmp_sendtest
.idea
.vscode

